<?xml version="1.0"?>
<psalm
    xmlns="https://getpsalm.org/schema/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://getpsalm.org/schema/config https://getpsalm.org/schema/config"
    cacheDirectory=".cache/psalm"
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    disableSuppressAll="true"
    errorBaseline="psalm-baseline.xml"
    errorLevel="1"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    findUnusedPsalmSuppress="true"
    findUnusedVariablesAndParams="true"
    strictBinaryOperands="true"
    ensureArrayIntOffsetsExist="true"
    ensureArrayStringOffsetsExist="true"
    ignoreInternalFunctionFalseReturn="false"
    ignoreInternalFunctionNullReturn="false"
    sealAllMethods="true"
    sealAllProperties="true"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="tests"/>
        <ignoreFiles>
            <directory name=".github"/>
            <directory name="docs"/>
            <directory name="tests/Fixture"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Ghostwriter\PsalmPlugin\Plugin"/>
    </plugins>
</psalm>
