<?php

declare(strict_types=1);

use Ghostwriter\Compliance\Configuration\ComplianceConfiguration;
use Ghostwriter\Compliance\Option\ComposerDependency;
use Ghostwriter\Compliance\Option\PhpVersion;
use Ghostwriter\Compliance\Tool\PHPUnit;
use Ghostwriter\Compliance\Tool\Psalm;
use Ghostwriter\Compliance\Tool\Rector;

return static function (ComplianceConfiguration $complianceConfiguration): void {
    // $complianceConfiguration->phpVersion(PhpVersion::PHP_82);
    // $complianceConfiguration->phpVersion(PhpVersion::DEV);
    // $complianceConfiguration->phpVersion(PhpVersion::STABLE);
    $complianceConfiguration->phpVersion(PhpVersion::LATEST);

    $complianceConfiguration->skip([
        PhpVersion::DEV,
        PHPUnit::class => [
            PhpVersion::PHP_82 => [
                ComposerDependency::HIGHEST,
                ComposerDependency::LOCKED,
                ComposerDependency::LOWEST,
            ]
        ],
    ]);

    $complianceConfiguration->configure([
        PHPUnit::class => [
            PhpVersion::PHP_ALL => ComposerDependency::ALL
        ],
        Psalm::class => [PhpVersion::STABLE => ComposerDependency::LOCKED],
        Rector::class => [PhpVersion::LATEST => ComposerDependency::LOCKED],
    ]);
};
